*.elc
.lsp-session-v*
places
projects
.cache/
games/
eln-cache/
/eshell/history

# It seems, /trasient/history.el contains magit commands history, so it should
# not be tracked.
/transient/history.el
