*.elc
.lsp-session-v*
places
projects
.cache/
games/
eln-cache/
/eshell/history

# It seems, /trasient/history.el contains magit commands history, so it should
# not be tracked.
/transient/history.el

# NOTE: I am not sure what this file is for
.org-id-locations

# NOTE: It seems, this directories contain some cookies, not sure what library
# created them
/url/
/request/
